name: Build and Deploy MRT Docker Image to ECR

on:
  push:
    branches: [main, german-prod]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_PROD }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_PROD }}
          aws-region: eu-north-1

      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Create builder
        run: docker buildx create --name mrt-builder --use --driver docker-container || true

      - name: Build image and push manually
        run: |
          docker buildx build --platform linux/arm64 --builder mrt-builder --load \
            --build-arg BASE_URL=${{ secrets.BASE_URL }} \
            --build-arg RKS_PRIVATE_KEY="${{ secrets.RKS_PRIVATE_KEY }}" \
            --build-arg RKS_PROJECT_ID=${{ secrets.RKS_PROJECT_ID }} \
            --build-arg RKS_SERVICE_ACCOUNT=${{ secrets.RKS_SERVICE_ACCOUNT }} \
            --build-arg EMAIL_RECIPIENT_1=${{ secrets.EMAIL_RECIPIENT_1 }} \
            --build-arg EMAIL_RECIPIENT_2=${{ secrets.EMAIL_RECIPIENT_2 }} \
            --build-arg BASE_URL_UH=${{ secrets.BASE_URL_UH }} \
            --build-arg UH_API_TOKEN=${{ secrets.UH_API_TOKEN }} \
            -t 072705593119.dkr.ecr.eu-north-1.amazonaws.com/mrt-lambda:prod .
          docker push 072705593119.dkr.ecr.eu-north-1.amazonaws.com/mrt-lambda:prod